/* Hacemos que la base de la página ocupe el 100% de la altura de la pantalla. */
html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Tipografía global */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/* Definimos el verde como el color primario de Bootstrap */
:root {
  --bs-primary: #05934E; 
  --bs-primary-rgb: 5, 147, 78;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: #047a41;
}

/* Botón Primario */
.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #047a41;
  --bs-btn-hover-border-color: #036f3a;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #036f3a;
  --bs-btn-active-border-color: #036134;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

/* Botón Outline Dark */
/* Usado en la ProductCard para "Ver detalles" */
.btn-outline-dark {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

/* Botón Outline Secondary */
/* Usado en el sidebar para "Limpiar Filtros" */
.btn-outline-secondary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
}

/* Categoría activa y hover en el Sidebar */
.filter-sidebar .category-list .list-group-item {
  color: #495057;
  transition: color 0.2s ease, font-weight 0.2s ease;
}
.filter-sidebar .category-list .list-group-item:hover {
  color: var(--bs-primary);
  font-weight: 500;
}
.filter-sidebar .category-list .list-group-item.active {
  color: var(--bs-primary);
  font-weight: 600;
}

/* Precio en la Product Card */
.product-card-price {
  color: var(--bs-primary); /* Precio principal en verde */
}
.product-card-price .original-price {
  color: #6c757d;
}

body {
  overflow-y: scroll; /* Fuerza la barra de desplazamiento vertical a que siempre esté visible así el NavBar 
                      no da la sensación de que se mueve al cambiar entre distintas vistas */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}